body{
    margin: 0;
    padding: 0;
}

.containe1{
    margin-left: 480px;
}
.container2{
    margin-left: 460px;
}
.container3{
    margin-left: 430px;
}
.container4{
    margin-left: 400px;
}
.container5{
    margin-left: 350px;
}
.container6{
    margin-left: 300px;
}
.container7{
    margin-left: 250px;
}
.container8{
    margin-left: 200px;
}
.container9{
    margin-left: 150px;
}
.container10{
    margin-left: 100px;
}
/* .icon-area ul{
    list-style: none;
} */
.total-area ul li{
    display: inline-block;
}
.icon-area1 ul li a{
    background: indigo;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 10px;
    display: block;
    border-radius: 10px;
}
.icon-area1 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 75%;
    transition: 0.3s;
}
.icon-area2 ul li a{
    background: black;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 15px;
    display: block;
    border-radius: 10px;
}
.icon-area2 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 75%;
    transition: 0.3s;
}
.icon-area3 ul li a{
    background: silver;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 20px;
    display: block;
    border-radius: 10px;
}
.icon-area3 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area4 ul li a{
    background: maroon;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 25px;
    display: block;
    border-radius: 10px;
}
.icon-area4 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area5 ul li a{
    background: olive;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 30px;
    display: block;
    border-radius: 10px;
}
.icon-area5 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area6 ul li a{
    background: fuchsia;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 35px;
    display: block;
    border-radius: 10px;
}
.icon-area6 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area7 ul li a{
    background: purple;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 40px;
    display: block;
    border-radius: 10px;
}
.icon-area7 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area8 ul li a{
    background: greenyellow;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 45px;
    display: block;
    border-radius: 10px;
}
.icon-area8 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-area9 ul li a{
    background: aqua;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 50px;
    display: block;
    border-radius: 10px;
}
.icon-area9 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}

.icon-area10 ul li a{
    background: red;
    color: white;
    padding: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 55px;
    display: block;
    border-radius: 10px;
}
.icon-area10 ul li a:hover{
    background: rgb(235, 225, 135);
    color:blue;
    border-radius: 50%;
    transition: 0.3s;
}